# NEONDB URL STRING
DATABASE_URL=

# Better Auth Secret (generate with: openssl rand -base64 32)
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# Next.js App URL
NEXT_PUBLIC_APP_URL=

# GOOGLE OAUTH
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# GOOGLE API KEY
GOOGLE_API_KEY=

